
#battery-area {
    position: absolute;
    top: 120px;
    left: 0;
    Width: 100vw;
    height: calc(100vh - 160px);
    display: flex;
    z-index: 16;
    overflow: hidden;


}


#battery-area > div {
    display: grid;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(50,1fr) 80px;
    min-height: calc(100vh - 180px);
    width: 100%;
    height: 100%;
}

#battery_status-area {
    grid-area: 1 / 1 / span 50 / span 20;
  background-color: #069;
}
#battery_head {
    grid-area: 12 / 6 / span 3 / span 2;
  background-color: rgba(250,190,210,1);
}
#battery_body {
    grid-area: 15 / 3 / span 34 / span 8;
  background-color: rgba(250,190,210,1);
}
#battery-model > div:nth-child(13){
    grid-area: 17 / 4 / span 3 / span 6;
    background-color: rgba(125,205,244,1.0);
}
#battery-model > div:nth-child(12){
    grid-area: 20 / 4 / span 3 / span 6;
    background-color: rgba(128,205,227,1.0);
}
#battery-model > div:nth-child(11){
    grid-area: 23 / 4 / span 3 / span 6;
    background-color: rgba(133,203,191,1.0);
}
#battery-model > div:nth-child(10){
    grid-area: 26 / 4 / span 3 / span 6;
    background-color: rgba(136,200,151,1.0);
}
#battery-model > div:nth-child(9){
    grid-area: 29 / 4 / span 3 / span 6;
    background-color: rgba(216,230,152,1.0);
}
#battery-model > div:nth-child(8){
    grid-area: 32 / 4 / span 3 / span 6;
    background-color: rgba(238,239,152,1.0);
}
#battery-model > div:nth-child(7){
    grid-area: 35 / 4 / span 3 / span 6;
    background-color: rgba(255,247,152,1.0);
}
#battery-model > div:nth-child(6){
    grid-area: 38 / 4 / span 3 / span 6;
    background-color: rgba(255,231,146,1.0);
}
#battery-model > div:nth-child(5){
    grid-area: 41 / 4 / span 3 / span 6;
    background-color: rgba(249,185,133,1.0);
}
#battery-model > div:nth-child(4){
    grid-area: 44 / 4 / span 3 / span 6;
    background-color: rgba(242,154,117,1.0);
}
#battery_current{
    grid-area: 4 / 12 / span 8 / span 7;
  background-color: #ccc;
}
#battery_voltage{
    grid-area: 16 / 12 / span 8 / span 7;
  background-color: #ccc;
}

#battery_operation-area {
    grid-area: 14 / 21 / span 37 / span 20;
  background-color: #069;
}
#battery_biggest_current{
    grid-area: 16 / 29 / span 6 / span 7;
  background-color: #ccc;
}
#battery_biggest_current-mail{
    grid-area: 16 / 37 / span 6 / span 3;
  background-color: #ccc;
}
#battery_biggest_voltage{
    grid-area: 23 / 29 / span 6 / span 7;
  background-color: #ccc;
}
#battery_biggest_voltage-mail{
    grid-area: 23 / 37 / span 6 / span 3;
  background-color: #ccc;
}
#battery_rise_current{
    grid-area: 30 / 29 / span 6 / span 7;
  background-color: #ccc;
}
#battery_rise_current-mail{
    grid-area: 30 / 37 / span 6 / span 3;
  background-color: #ccc;
}
#battery_brownout{
    grid-area: 37 / 29 / span 6 / span 7;
  background-color: #ccc;
}
#battery_brownout-mail{
    grid-area: 37 / 37 / span 6 / span 3;
  background-color: #ccc;
}
#battery_low_voltage{
    grid-area: 44 / 29 / span 6 / span 7;
  background-color: #ccc;
}
#battery_low_voltage-mail{
    grid-area: 44 / 37 / span 6 / span 3;
  background-color: #ccc;
}
#battery_passage-chart {
    grid-area: 51 / 1 / span 1 / span 40;
  background-color: #069;
}




