
#net-area{
  background-color: #069;
    display: flex;
    position: absolute;
    top: 120px;
    left: 0;
    Width: 100vw;
    height: calc(100vh - 160px);
    display: flex;
    z-index: 16;
    overflow: hidden;
}


#net_selection {
    Width: 300px;;
    height: 300px;
}

#container_lan_static {
    flex: 1;
    display: grid; /* グリッドレイアウト */
    grid-template-columns: 40px repeat(6,80px) 10px 80px 1fr;
    grid-template-rows: 10px 40px repeat(20,20px) 30px 1fr;
    min-height: calc(100vh - 200px);
}


.circle { 
  width: calc( 100% - 100px);
  height: calc( 100% - 100px);
  margin: 50px;
  border: 3px solid #333;
  border-radius: 50%;
  position: relative;
    background-color: #07a;
}

.net_content{
  width: 80px; 
  height: 80px;
  position: absolute;
  left: calc( 50% - 40px);
  top: calc( 50% - 40px);
  border: 0px;
  cursor: pointer;
}

#lan_setup{
  animation: rotate_lan 120s linear infinite;
  background-image: url("../images/sel_lan.gif");
  background-size:100% 100%;
}
@keyframes rotate_lan { 
  0% { 
   transform: rotate(0deg) translateY(-100px) rotate(0deg);
  }
    100% {  
    transform: rotate(360deg) translateY(-100px) rotate(-360deg);
  }
}

#wifi_setup{
  animation: rotate_wifi 120s linear infinite;
  background-image: url("../images/sel_wifi.gif");
  background-size:100% 100%;
}
@keyframes rotate_wifi { 
  0% { 
   transform: rotate(0deg) translateX(87px) translateY(-50px) rotate(0deg);
  }
    100% {  
    transform: rotate(360deg) translateX(87px) translateY(-50px) rotate(-360deg);
  }
}

#mail_setup{
  animation: rotate_mail 120s linear infinite;
  background-image: url("../images/sel_email.gif");
  background-size:100% 100%;
}
@keyframes rotate_mail { 
  0% { 
   transform: rotate(0deg) translateX(87px) translateY(50px) rotate(0deg);
  }
    100% {  
    transform: rotate(360deg) translateX(87px) translateY(50px) rotate(-360deg);
  }
}

#loute_setup{
  animation: rotate_route 120s linear infinite;
  background-image: url("../images/sel_loute.gif");
  background-size:100% 100%;
}
@keyframes rotate_route { 
  0% { 
   transform: rotate(0deg) translateY(100px) rotate(0deg);
  }
    100% {  
    transform: rotate(360deg) translateY(100px) rotate(-360deg);
  }
}
#ntp_setup{
  animation: rotate_ntp 120s linear infinite;
  background-image: url("../images/sel_ntp.gif");
  background-size:100% 100%;
}
@keyframes rotate_ntp { 
  0% { 
   transform: rotate(0deg) translateX(-87px) translateY(50px) rotate(0deg);
  }
    100% {  
    transform: rotate(360deg) translateX(-87px) translateY(50px) rotate(-360deg);
  }
}

#dhcp_setup{
  animation: rotate_dhcp 120s linear infinite;
  background-image: url("../images/sel_dhcp.gif");
  background-size:100% 100%;
}
@keyframes rotate_dhcp { 
  0% { 
   transform: rotate(0deg) translateX(-87px) translateY(-50px) rotate(0deg);
  }
    100% {  
    transform: rotate(360deg) translateX(-87px) translateY(-50px) rotate(-360deg);
  }
}



#lan_static{
    grid-area: 2 / 4 / span 1 / span 2;
    background-color: #606060;
}
#lan_pppoe_off{
    grid-area: 2 / 6 / span 1 / span 2;
    background-color: #606060;
}
#lan_ipaddr{
    grid-area: 4 / 2 / span 2 / span 2;
    background-color: #606060;
}
#lan_mask{
    grid-area: 7 / 2 / span 2 / span 2;
    background-color: #606060;
}
#lan_df-gw{
    grid-area: 10 / 2 / span 2 / span 2;
    background-color: #606060;
}
#lan_dns1{
    grid-area: 13 / 2 / span 2 / span 2;
    background-color: #606060;
}
#lan_dns2{
    grid-area: 16 / 2 / span 2 / span 2;
    background-color: #606060;
}
#lan_dns3{
    grid-area: 19 / 2 / span 2 / span 2;
    background-color: #606060;
}
#set_ipaddr{
    grid-area: 4 / 4 / span 2 / span 4;
    background-color: #606060;
}
#set_mask{
    grid-area: 7 / 4 / span 2 / span 4;
    background-color: #606060;
}
#set_df-gw{
    grid-area: 10 / 4 / span 2 / span 4;
    background-color: #606060;
}
#set_dns1{
    grid-area: 13 / 4 / span 2 / span 4;
    background-color: #606060;
}
#set_dns2{
    grid-area: 16 / 4 / span 2 / span 4;
    background-color: #606060;
}
#set_dns3{
    grid-area: 19 / 4 / span 2 / span 4;
    background-color: #606060;
}
#set_dns-auto{
    grid-area: 13 / 9 / span 1 / span 1;
    background-color: #606060;
}
#lan_up{
    grid-area: 22 / 4 / span 2 / span 2;
    background-color: #606060;
}

#lan_save{
    grid-area: 22 / 6 / span 2 / span 2;
    background-color: #606060;
}

