#pv-area {
    position: absolute;
    top: 120px;
    left: 0;
    Width: 100vw;
    height: calc(100vh - 160px);
    z-index: 16;
    overflow: hidden;
}


#pv-area > div {
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(15,1fr);
    height: 100%;
}

#i_v-chart {
    grid-area: 1 / 1 / span 9 / span 10;
  background-color: #069;
}

#serial_parallel-area {
    grid-area: 1 / 11 / span 7 / span 10;
    display: flex;
    background-color: #069;
}

#serial_parallel-area > div{
    flex-grow:1;
    display: flex;
    flex-direction: column;
}


#serial_parallel-area > div > div:nth-child(2n+1) {
    height: 1px;
    flex-shrink: 0;
}

#serial_parallel-area > div > div:first-child {
    height: 10px;
    flex-shrink: 0;
}

#serial_parallel-area > div > div:nth-child(21) {
    height: 10px;
    flex-shrink: 0;
}

#serial_parallel-area > div > div:nth-child(2n) {
    flex-grow:1;
/*    flex-shrink: 1;*/

    background-image: url("../images/pv_block.png");
    background-size:100% 100%;
}



#pv_s-p_set {
    grid-area: 8 / 13 / span 2 / span 8;
}

#pv_s-p_set > div {
    display: flex;
}

#pv_s-p_set .pv_title {
    height: 20px;
    width: 50%;
    background-color: #888;
}

#pv_set {
    height: calc(100% - 20px);
    display: flex;
    align-items: flex-end;
}

#pv_s_set {
    flex-grow: 3;
    height: 30px;
    position: relative;
    background-color: #666;
}
#pv_p_set {
    flex-grow: 3;
    height: 30px;
    position: relative;
    background-color: #666;
}
#pv_s-p_set .pv_mai {
    flex-grow: 1;
    height: 20px;
    background-color: #777;
}





#pv_total-area {
    grid-area: 10 / 4 / span 4 / span 7;
  background-color: #069;
}

#pv_single-area {
    grid-area: 10 / 12 / span 4 / span 7;
  background-color: #069;
}

#pv_passage-chart {
    grid-area: 14 / 1 / span 2 / span 20;
  background-color: #069;
}


