
#schedule-area {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 40px);
    z-index: 100;
    display: flex;
    flex-direction: column;
    z-index: 16;
    overflow: hidden;
}

#schedule_header {
    display: grid;
    grid-template-columns:  repeat(4,80px) 1fr 80px 80px 1fr repeat(4,80px);
    grid-template-rows:140px 20px 40px;
    background-color: #069;
}


#schedule_title{
    grid-column: 6 / span 2;
    grid-row: 2 / span 2;
    background-color: #ccc;
}


#schedule_sel{
    grid-column: 9 / span 4;
    grid-row: 3 / span 1;
    background-color: #ccc;
}


#schedule {
    display: grid;
    grid-template-columns:  20px repeat(2,80px) repeat(721,1fr) 10px;
    grid-template-rows: 10px 25px repeat(5,30px) 10px 25px repeat(5,30px) 10px;
    background-color: #069;
}

#tim_am{
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    background-color: #666;
      border: 1px solid rgba(0,0,0,0.2);
}

#frm_am{
    grid-column: 5 / span 720;
    grid-row: 2 / span 1;
    background-color: #999;
}

#tim0{
    grid-column: 5 / span 20;
    grid-row: 2 / span 1;

}

#tim1{
    grid-column: 55 / span 20;
    grid-row: 2 / span 6;

}

#tim2{
    grid-column: 105 / span 20;
    grid-row: 2 / span 6;

}

#tim3{
    grid-column: 175 / span 20;
    grid-row: 2 / span 1;

}

#tim4{
    grid-column: 235 / span 20;
    grid-row: 2 / span 1;
}

#tim5{
    grid-column: 295 / span 20;
    grid-row: 2 / span 1;
}

#tim6{
    grid-column: 355 / span 20;
    grid-row: 2 / span 1;
}

#tim7{
    grid-column: 415 / span 20;
    grid-row: 2 / span 1;
}

#tim8{
    grid-column: 475 / span 20;
    grid-row: 2 / span 1;
}

#tim9{
    grid-column: 535 / span 20;
    grid-row: 2 / span 1;
}

#tim10{
    grid-column: 595 / span 20;
    grid-row: 2 / span 1;
}

#tim11{
    grid-column: 655 / span 20;
    grid-row: 2 / span 1;
}

#tim12-1{
    grid-column: 705 / span 20;
    grid-row: 2 / span 1;
}




#tim_pm{
    grid-column: 2 / span 2;
    grid-row: 9 / span 1;
    background-color: #666;
      border: 1px solid rgba(0,0,0,0.2);
}

#frm_pm{
    grid-column: 5 / span 720;
    grid-row: 9 / span 1;
    background-color: #999;
}

#tim12-2{
    grid-column: 5 / span 20;
    grid-row: 9 / span 1;
}

#tim13{
    grid-column: 55 / span 20;
    grid-row: 9 / span 1;
}

#tim14{
    grid-column: 105 / span 20;
    grid-row: 9 / span 1;
}

#tim15{
    grid-column: 175 / span 20;
    grid-row: 9 / span 1;
}

#tim16{
    grid-column: 235 / span 20;
    grid-row: 9 / span 1;
}

#tim17{
    grid-column: 295 / span 20;
    grid-row: 9 / span 1;
}

#tim18{
    grid-column: 355 / span 20;
    grid-row: 9 / span 1;
}

#tim19{
    grid-column: 415 / span 20;
    grid-row: 9 / span 1;
}

#tim20{
    grid-column: 475 / span 20;
    grid-row: 9 / span 1;
}

#tim21{
    grid-column: 535 / span 20;
    grid-row: 9 / span 1;
}

#tim22{
    grid-column: 595 / span 20;
    grid-row: 9 / span 1;
}

#tim23{
    grid-column: 655 / span 20;
    grid-row: 9 / span 1;
}

#tim24{
    grid-column: 705 / span 20;
    grid-row: 9 / span 1;
}





#ac2_am{
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
    background-color: #777;
      border: 1px solid rgba(0,0,0,0.2);
}
#ac1_am{
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
    background-color: #888;
      border: 1px solid rgba(0,0,0,0.2);
}
#inv_am{
    grid-column: 2 / span 2;
    grid-row: 5 / span 1;
    background-color: #777;
      border: 1px solid rgba(0,0,0,0.2);
}
#chg_am{
    grid-column: 2 / span 2;
    grid-row: 6 / span 1;
    background-color: #888;
}
#usb_am{
    grid-column: 2 / span 2;
    grid-row: 7 / span 1;
    background-color: #777;
}


#ac2_emp1{
    grid-column: 5 / span 720;
    grid-row: 3 / span 1;
    background-color: #aaa;
}
#ac1_emp1{
    grid-column: 5 / span 720;
    grid-row: 4 / span 1;
    background-color: #bbb;
}
#inv_emp1{
    grid-column: 5 / span 720;
    grid-row: 5 / span 1;
    background-color: #aaa;
}
#chg_emp1{
    grid-column: 5 / span 720;
    grid-row: 6 / span 1;
    background-color: #bbb;
}
#usb_emp1{
    grid-column: 5 / span 720;
    grid-row: 7 / span 1;
    background-color: #aaa;
}


#ac2_pm{
    grid-column: 2 / span 2;
    grid-row: 10 / span 1;
    background-color: #777;
}
#ac1_pm{
    grid-column: 2 / span 2;
    grid-row: 11 / span 1;
    background-color: #888;
}
#inv_pm{
    grid-column: 2 / span 2;
    grid-row: 12 / span 1;
    background-color: #777;
}
#chg_pm{
    grid-column: 2 / span 2;
    grid-row: 13 / span 1;
    background-color: #888;
}
#usb_pm{
    grid-column: 2 / span 2;
    grid-row: 14 / span 1;
    background-color: #777;
}

#ac2_emp2{
    grid-column: 5 / span 720;
    grid-row: 10 / span 1;
    background-color: #aaa;
}
#ac1_emp2{
    grid-column: 5 / span 720;
    grid-row: 11 / span 1;
    background-color: #bbb;
}
#inv_emp2{
    grid-column: 5 / span 720;
    grid-row: 12 / span 1;
    background-color: #aaa;
}
#chg_emp2{
    grid-column: 5 / span 720;
    grid-row: 13 / span 1;
    background-color: #bbb;
}
#usb_emp2{
    grid-column: 5 / span 720;
    grid-row: 14 / span 1;
    background-color: #aaa;
}



#sch1{
    grid-column: 200 / span 300;
    grid-row: 3 / span 1;
    background-color: #ccc;
}


#schedule_cnt {
    display: grid;
    grid-template-columns:  repeat(4,80px) repeat(2,1fr) 1fr repeat(6,80px);
    grid-template-rows: 40px 20px;
    min-height: calc(100vh - 600px);
    background-color: #069;
}


#schedule_solar{
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    background-color: #ccc;
}

#schedule_input{
    grid-column: 8 / span 2;
    grid-row: 1 / span 1;
    background-color: #ccc;
}

#schedule_edit{
    grid-column: 10 / span 2;
    grid-row: 1 / span 1;
    background-color: #ccc;
}

#schedule_save{
    grid-column: 12 / span 2;
    grid-row: 1 / span 1;
}




