#switch-area {
    position: absolute;
    top: 120px;
    left: 0;
    Width: 100vw;
    height: calc(100vh - 160px);
    z-index: 100;
    z-index: 16;
    overflow: hidden;
}


#switch-area > div {
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(15,1fr);
    height: 100%;
}

#zero_crossing-area {
    grid-area: 1 / 1 / span 6 / span 9;
  background-color: #069;
}

#zero_crossing-area > div {
    display: grid;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(30,1fr);
    width: 100%;
    height: 100%;
    background-color: #aaa;
    background-image: url("../images/line_1@4x.png");
    background-size:100% 100%;
}

#zero_on {
    background-color: #666;
    grid-area: 18 / 5 / span 8 / span 10;
}

#zero_off {
    background-color: #666;
    grid-area: 18 / 27 / span 8 / span 10;
}


#change_time-area {
    grid-area: 1 / 10 / span 6 / span 9;
    background-color: #069;
}

#change_time-area > div {
    display: grid;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(30,1fr);
    width: 100%;
    height: 100%;
    background-color: #aaa;
    background-image: url("../images/line_2@4x(1).png");
    background-size:100% 100%;
}

#change_time-set {
    background-color: #666;
    grid-area: 20 / 15 / span 9 / span 12;
}

#blackout-area {
    grid-area: 7 / 1 / span 6 / span 9;
    background-color: #069;
}

#blackout-area > div {
    display: grid;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(30,1fr);
    width: 100%;
    height: 100%;
    background-color: #aaa;
    background-image: url("../images/line_3@4x(1).png");
    background-size:100% 100%;
}

#blackout-backup {
    grid-area: 8 / 3 / span 5 / span 10;
    background-color: #666;
}
#backup_time-set {
    grid-area: 22 / 17 / span 8 / span 12;
    background-color: #666;
}
#blackout-zero {
    grid-area: 10 / 30 / span 5 / span 10;
    background-color: #666;
}


#decision_switch {
    grid-area: 13 / 7 / span 1 / span 3;
  background-color: #069;
}

#switch_operation-area {
    grid-area: 7 / 10 / span 7 / span 9;
  background-color: #069;
}

#switch_operation-area > div {
    display: grid;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(30,1fr);
    width: 100%;
    height: 100%;
}

#switch_ac-in {
    grid-area: 5 / 3 / span 9 / span 11;
    background-image: url("../images/acline_block.png");
    background-size:100% 100%;

}
#switch_ac-out {
    grid-area: 5 / 28 / span 9 / span 11;
    background-image: url("../images/outlet2_block.png");
    background-size:100% 100%;

}
#switch_inverter {
    grid-area: 21 / 16 / span 9 / span 12;
    background-image: url("../images/inverter2_block.png");
    background-size:100% 100%;
}

#switch_arrow_off {
    grid-area: 2 / 14 / span 3 / span 14;
  background-color: #666;
}
#switch_arrow1 {
    grid-area: 5 / 14 / span 3 / span 14;
  background-color: #666;
}
#switch_arrow2 {
    grid-area: 8 / 14 / span 3 / span 14;
  background-color: #666;
}
#switch_arrow2-2 {
    grid-area: 11 / 19 / span 10 / span 3;
  background-color: #666;
}
#switch_arrow3 {
    grid-area: 11 / 22 / span 3 / span 6;
  background-color: #666;
}
#switch_arrow3-2 {
    grid-area: 14 / 22 / span 7 / span 3;
  background-color: #666;
}
#switch_passage-chart {
    grid-area: 14 / 1 / span 2 / span 18;
  background-color: #666;
}





